<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">

    <title>Exam</title>
</head>
<body>
    <div class="container">
    <h1>Exam Page</h1>
    <button onclick="location.href='/exam/student'">Student</button><br><br>
    <button onclick="location.href='/exam/staff'">Staff</button>
</div>
</body>
</html>
